.row {
    background-color: #a1b5cb;
    padding: 20px;
}

#skills {
    background: #83d2e7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b8b8ff, #d2f5ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b8b8ff, #d2f5ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 2px solid #d39e09a8;
}
#habilidades {
    display: flex;
    flex-wrap: wrap;
}